extends ./layout/index

block slider 
    .slider 
        h1 Rio de Janeiro 
        em Aventura 

block contenido
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5 
            .col-md-6 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus bibendum dui vel diam egestas, a sodales tellus dignissim. Etiam mattis, enim dignissim hendrerit ultrices, ante augue maximus libero, quis dignissim sem est imperdiet lacus. Nulla massa lorem, pretium fringilla interdum et
                p Pellentesque in placerat ante. Praesent lacinia lacus ut convallis egestas. Suspendisse tempus scelerisque odio, a fringilla lectus dignissim sit amet. Aliquam viverra lobortis neque id varius. Aenean sapien orci
            .col-md-6
                img(src="img/inicio_nosotros.jpg", alt="Imagen Inicio", class="img-fluid")

        include ./layout/bloque_viajes
    .descuento 
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo del 2023 - 25 de junio del 2023
                        p.precio $3,000 USD
    .container 
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales