extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen Nosotros", class="img-fluid") 
            .col-md-7
                h1= page
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse commodo lacus a elit laoreet, vel malesuada turpis aliquet. Curabitur egestas mauris quam, sed lacinia ante feugiat pellentesque. Vestibulum hendrerit vestibulum nunc, id elementum nisi faucibus ut. Fusce cursus ipsum ac laoreet dictum. Maecenas porta pretium justo, non semper sem laoreet eget. Duis quis augue aliquam, pretium augue sit amet, blandit velit. Etiam at laoreet lorem. Vivamus quis aliquam leo. Sed quis velit nec mi egestas blandit.

                p Ut elementum, felis sed finibus pretium, felis lectus volutpat tortor, ut scelerisque enim justo eu magna. Integer libero urna, convallis in nisi venenatis, elementum accumsan ipsum. Proin euismod ante at imperdiet convallis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi justo quam, euismod ac lacus et, egestas pharetra augue. Integer ac nibh in urna pellentesque laoreet. Phasellus porttitor, dolor a aliquam dignissim, orci nunc mollis lacus, vel ultricies arcu lacus ornare dui. Sed nec scelerisque sem. Integer turpis sapien, maximus at rutrum non, aliquam eu lacus. Integer nec neque semper, luctus magna nec, pulvinar ante.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere dignissimos illo provident voluptatum voluptatibus asperiores, architecto nemo. Distinctio, vitae corrupti nisi quod dolores quos dolorum ad explicabo quas nam maiores.
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere dignissimos illo provident voluptatum voluptatibus asperiores, architecto nemo. Distinctio, vitae corrupti nisi quod dolores quos dolorum ad explicabo quas nam maiores.
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="" class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere dignissimos illo provident voluptatum voluptatibus asperiores, architecto nemo. Distinctio, vitae corrupti nisi quod dolores quos dolorum ad explicabo quas nam maiores.
